.label {
	text-align: left;
	margin-top: 7px;
}
		
.inputContainer{
	width: 350px;
}
		
.labelsContainer {
	margin-right: 10px;
	float: left;
}
		
.errorsContainer {
	float: left;
	width: 350px;
	text-align: center;
}
		
.fields {
	width: 200px;
	float: left;
}
		
.error {
	color: red;
}

