<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %-23([%thread]) %-47(%logger{48}) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="hello-module" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-36([%thread]) %-38(%logger{35}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${logging.destination}/GwtHibernateHello/hello-module.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	
	<appender name="security" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-36([%thread]) %-38(%logger{35}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${logging.destination}/GwtHibernateHello/security.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	
	<appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-36([%thread]) %-38(%logger{35}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${logging.destination}/GwtHibernateHello/application.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	
	<logger name="com.epsm.hello" level="DEBUG" additivity="false">
		<appender-ref ref="hello-module" />
	</logger>
	
	<logger name="com.epsm.gwtHibernateHello.server.service.LoginServiceImpl" level="DEBUG" additivity="false">
		<appender-ref ref="security" />
	</logger>
	
	<logger name="com.epsm.gwtHibernateHello.server.service.ServiceUtils" level="DEBUG" additivity="false">
		<appender-ref ref="security" />
	</logger>
	
	<logger name="com.epsm.gwtHibernateHello" level="DEBUG" additivity="false">
		<appender-ref ref="application" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>