.login{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	display: table;
}

.error{
	display: table-caption;
	color: red;
	text-align: center;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	padding: 1px;
}