.login{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	float: left;
	margin-left: -170px;
	margin-top: -40px;
}

.errorsContainer{
	float: left;
	width: 350px;
}

.errorLabel{
	color: red;
	text-align: center;
}

.inputContainer{
	width: 350px;
}

.labelsContainer{
	margin-right: 10px;
	float: left;
}

.label{
	text-align: left;
	margin-top: 7px;
}

.fields{
	width: 200px;
	float: left;
}