.general{
	min-width: 400px;
	min-height: 400px;
}
	      
.header {
	border-bottom: 1px solid black;
}

.loginContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	float: left;
	margin-left: -170px;
	margin-top: -40px;
	display:none;
}

.label {
	text-align: left;
	margin-top: 7px;
}
		
.inputContainer{
	width: 350px;
}
		
.labelsContainer {
	margin-right: 10px;
	float: left;
}
		
.loginErrorsContainer {
	float: left;
	width: 350px;
}
		
.fields {
	width: 200px;
	float: left;
}
		
.loginError {
	color: red;
	text-align: center;
}

.logoutLink{
	text-decoration: underline;
	color: blue;
}

.logoutLink:HOVER{
	text-decoration: underline;
	color: DarkMagenta;
}

.greetContainer {
	width: 200px;
	padding: 20px;
	text-align: left;
	display:none;
}

.greetLabelContainer {
	width: 200px;
	float: left;
	padding-bottom: 10px;
}

.logoutContainer {
	width: 200px;
	float: left;
	padding-bottom: 10px;
}
		
.logoutErrorsContainer {
	width: 200px;
	float: left;
}

.logoutError{
	color: red;
	text-align: left;
}
  
.footer {
	text-align: center;
	border-top: 1px solid black;
}

