<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.epsm.gwtHibernateHello.server.service.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>greetingServlet</servlet-name>
		<servlet-class>com.epsm.gwtHibernateHello.server.service.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>configServlet</servlet-name>
		<servlet-class>com.epsm.gwtHibernateHello.server.configuration.ConfigurationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/GwtHibernateHello/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>greetingServlet</servlet-name>
		<url-pattern>/GwtHibernateHello/greeting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
</web-app>
